body {
    margin: auto;
    width: 80%;
    text-align: center;
}

#text {
    font-size: 3em;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
}

h3{
    margin-bottom: 1.8em;
}

.green {
    color: green;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.boxInput {
    width: 150px;
    text-align: left;
    display: inline-block;
    margin:auto;
    font-size:1.3em;
    margin-bottom: 0.8em;
}

input{
    font-size: 1.3em;
}

label{
    vertical-align: top;
}
