@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/text.js"></script>

<h3>Alien Text Modifier</h3>

Enter Text Here: <input id="input" type="text" name="inputText" /><br />
<br /><br />

<input type="checkbox" name="green" value="green" id="green"> Green Background

<br /><br />

<input type="submit" value="Display Text" onclick="boxChecker()">

<br /><br />

<p id="text"></p>

<br /><br />