@{
    ViewData["Title"] = "Home Page";
}
<h3>Alien Text Modifier</h3>



<form action="ph">

   Enter Text Here: <input type="text" name="inputText" /><br />
   <br><br>

   <input type="submit" value="Submit">

</form>
