@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/text.js"></script>

<h3>Alien Text Modifier</h3>

Enter Text Here: <input id="input" type="text" name="inputText" /><br />
<br />

<div class="green"><input type="checkbox" name="green" id="green"> Green</div>
<input type="checkbox" name="reverse" id="reverse"> Reverse <br />
<div class="bold"><input type="checkbox" name="bold" id="bold"> Bold</div>
<div class="italic"><input type="checkbox" name="italic" id="italic"> Italic</div>

    <br /><br />

    <input type="submit" value="Display Text" onclick="boxChecker()">

    <br /><br /><br />

    <p id="text"></p>

    <br />
