@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/text.js"></script>

<h3>Alien Text Modifier</h3>
<form id="inputForm">
    <label>Enter Text Here:</label>
    <textarea id="input" rows="3" cols="60"></textarea><br />
</form>

<br />
<form>
    <div class="green boxInput"><input type="radio" name="modificationOption" id="green"> Green</div><br />
    <div class="boxInput"><input type="radio" name="modificationOption" id="reverse"> Reverse</div><br />
    <div class="bold boxInput"><input type="radio" name="modificationOption" id="bold"> Bold</div><br />
    <div class="italic boxInput"><input type="radio" name="modificationOption" id="italic"> Italic</div>
</form>

<br /><br />

<input type="submit" value="Display Text" onclick="boxChecker()">

<br /><br /><br />

<p id="text"></p>

<br />
