@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/text.js"></script>

<h3>Alien Text Modifier</h3>
<form id="inputForm">
    <label>Enter Text Here:</label>
    <textarea id="input" rows="3" cols="60" tabindex="1"></textarea><br />
</form>

<br />
<form>
    <div class="green boxInput"><input type="radio" name="modificationOption" id="green" tabindex="2" > Green</div><br />
    <div class="boxInput"><input type="radio" name="modificationOption" id="reverse" tabindex="3" > Reverse</div><br />
    <div class="bold boxInput"><input type="radio" name="modificationOption" id="bold" tabindex="4" > Bold</div><br />
    <div class="italic boxInput"><input type="radio" name="modificationOption" id="italic" tabindex="5"> Italic</div>
</form>

<br /><br />

<input type="submit" value="Display Text" onclick="boxChecker()" tabindex="6">

<br /><br /><br />

<p id="text"></p>

<br />
